html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

.body-one {
    background-color: #1f2937;
    padding: 0 200px 0 200px
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header1,
.hero-text2 {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin: 12px;
}

.hero-image {
    display: flex;
    justify-content: space-between;
    padding: 100px 50px 100px 50px;
    border-top: 1px solid white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 600px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-text.button {
    font-size: 18px;
    color: #e5e7eb;
}

#button1 {
    font-size: 30px;
    color: #e5e7eb;
    background-color: #3882f6;
    width: 150px;
    border: 0;
    border-radius: 20px;
}

.header2 {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    padding: 60px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.espresso,
.pastries,
.hot,
.iced {
    border-radius: 25%;
}

.imageblocks {
    width: 250px;
}

.imgtext {
    text-align: center;
}

.body-three {
    background-color: #e5e7eb;
}

.quote {
    padding: 100px 400px 100px 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.pele {
    font-size: 30px;
    font-weight: bold;
    margin-top: 16px;
    text-align: right;
    padding-right: 100px;
}

.body-four {
    padding: 50px;
}

.b4l1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.b4l2 {
    font-size: 30px;
    color: white;
}

.b4all {
    background-color: #3882f6;
    display: flex;
    padding: 45px;
    justify-content: center;
    gap: 200px;
    margin: 0 400px 0 400px;
    border-radius: 25px
}

#button2 {
    font-size: 24px;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 150px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 6px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 25px;
    color: white;
}